<%- include('layouts/header', { stylesheets: ['navbar', 'profilePage'] }) %>
<script src="/javascripts/hamburger.js" defer></script>
<%- include('layouts/navbar', {user}) %>
<main>
  <div class="profile-container">
    <div class="profile-picture">
      <img src="<%= userProfile.profilePic.replace('/public', '') %>" alt="Profile Pic">
    </div>
    <div class="profile-details">
      <h1><%= userProfile.name %></h1>
      <p>@<%= userProfile.username %> • <img src="/images/coin.gif" alt="coin gif" width="16px" height="16px"> <%= userProfile.coins %></p>
      <% if (userProfile.username == user.username) { %>
      <a href="/edit-profile" class="btn">Customize Profile</a>
      <% } %>

    </div>
  </div>
</main>

</body>

</html>