<%- include('layouts/header', { stylesheets: ['style', 'navbar', 'waitingroom', 'footer'] }) %>
<%- include('layouts/navbar', { user }) %>
<main>
  <div class="card-list" id="cardList">
    <% rooms.forEach(room => { %>
    <div class="card" data-id="<%= room.roomId %>">
      <img src="<%= room.userPic %>" alt="Profile Picture">
      <h3><%= room.username %></h3>
      <a href='/room/<%= room.roomId %>'>Join</a>
    </div>
    <% }) %>
  </div>
  <a href="/room" class="play-btn">Play</a>
</main>
<script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
<%- include('layouts/footer', { scripts: ['waitingRoom', 'hamburger'] }) %>